**/*.jou
**/*.log
**/*.str
.Xil
**/.metadata/**
SDK/webtalk/**
SDK/RemoteSystemsTempFiles/**
**/NA 
**/.gen
**/.srcs
**/*webtalk*
workspace/zybo_base_system/*
vitis/standalone/zybo_platform/*
vitis/standalone/zybo_standalone_*/*
vitis/*.xsa
**/.analytics
